.gradle/
build/
run/
out/

*.class
*.log
*.iml

.idea/
.vscode/
.DS_Store
/.idea/
/.gradle-user-home/wrapper/dists/gradle-9.6.1-bin/4ticwg1pgcbps2hj28r8so764/gradle-9.6.1-bin.zip.lck
/.gradle-user-home/wrapper/dists/gradle-9.6.1-bin/4ticwg1pgcbps2hj28r8so764/gradle-9.6.1-bin.zip.part
